*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: radial-gradient(circle at 15% 20%, #9b0000 0%, #1a0000 40%, #000000 80%);
    color: white;
}

/* ===== NAVBAR ===== */
.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:18px 60px;
  background:#000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color:#e50914;
    font-size: 28px;
    font-weight: 600;
}

.logo-img {
    width: 80px;  
    height: 80px;
    object-fit: contain;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:40px;
}

.nav-links li{
  cursor:pointer;
  color:#ccc;
}

.nav-links .active{
  color:#fff;
  border-bottom:3px solid #e50914;
  padding-bottom:5px;
}

.profile-icon{
  font-size:22px;
}

/* ===== CONTENT ===== */
.container{
  padding:40px 60px;
}

.container h1{
  font-size:32px;
  margin-bottom:12px;
}

.info{
  display:flex;
  align-items:flex-start;
  gap: 550px;  /* adjust slightly if needed */
  margin-bottom:40px;
}

.desc{
  max-width:700px;  /* main description ends early */
  color:#ccc;
  line-height:1.6;
}

.meta{
  width:120px;      /* SAME width as .time */
  text-align:right;
  color:#ccc;
  line-height:1.6;
}

.meta span{
  color:#888;
}

/* ===== PLAYLIST ===== */
.playlist .item{
  display:flex;
  align-items:center;
  gap:20px;
  padding:22px 0;
  border-bottom:1px solid #333;
}

.num{
  width:30px;
  font-size:20px;
  color:#fff;
}

/* Thumbnail */
.item img{
  width:180px;       /* increased image size */
  border-radius:8px;
}

/* Text block */
.text{
  max-width:680px;   /* KEY: stops description early */
}

.text h3{
  margin-bottom:6px;
}

.text p{
  color:#aaa;
  font-size:14px;
  line-height:1.5;
}

.time{
  width:400px;        /* IMPORTANT */
  text-align:right;
  font-size:20px;
}