*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: radial-gradient(circle at 15% 20%, #9b0000 0%, #1a0000 40%, #000000 80%);
    color: white;
}
a{
  color : inherit;
  text-decoration: none !important;
}
/* ===== NAVBAR ===== */
.navbar{
  width: 100%;
  height: 75px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color:#e50914;
    font-size: 28px;
    font-weight: 600;
}

.logo-img {
    width: 80px;  
    height: 80px;
    object-fit: contain;
}

.nav-links{
    display: flex;
    gap: 55px;
    list-style: none;
    font-size: 17px;
}

.nav-links li{
    cursor: pointer;
    padding-bottom: 8px;
    position: relative;
    opacity: 0.8;
    transition: 0.2s ease;
}

.nav-links li:hover {
    opacity: 1;
}

.nav-links .active {
    opacity: 1;
}

.nav-links .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #ff2e2e;
    border-radius: 3px;
}

.profile-icon{
  display: flex;
    align-items: center;
    gap: 25px;
    font-size: 17px;
}

/* ===== CONTENT ===== */
.container{
  padding:40px 60px;
}

.container h1{
  font-size:32px;
  margin-bottom:12px;
}

.info{
  display:flex;
  align-items:flex-start;
  gap: 550px;  /* adjust slightly if needed */
  margin-bottom:40px;
}

.desc{
  max-width:700px;  /* main description ends early */
  color:#ccc;
  line-height:1.6;
}

.meta{
  width:120px;      /* SAME width as .time */
  text-align:right;
  color:#ccc;
  line-height:1.6;
}

.meta span{
  color:#888;
}

/* ===== PLAYLIST ===== */
.playlist .item{
  display:flex;
  align-items:center;
  gap:20px;
  padding:22px 0;
  border-bottom:1px solid #333;
}

.num{
  width:30px;
  font-size:20px;
  color:#fff;
}

/* Thumbnail */
.item img{
  width:180px;       /* increased image size */
  border-radius:8px;
}

/* Text block */
.text{
  max-width:680px;   /* KEY: stops description early */
}

.text h3{
  margin-bottom:6px;
}

.text p{
  color:#aaa;
  font-size:14px;
  line-height:1.5;
}

.time{
  width:400px;        /* IMPORTANT */
  text-align:right;
  font-size:20px;
}